<form action="/profile/update?id=<%=@user.id%>" method="post">
  <input type="hidden" value="put" name="_method">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
  <label for="">User name</label>
  <input type="text" name="name" value="<%=@user.name%>">
  <label for="">email</label>
  <input type="text" name="email" value="<%= @user.email%>">
  <label for="">which country do you live</label>
  <input class="country_selector" type="text" name="country" value="<%= @user.country%>">
  <label for="">image url</label>
  <input type="text" name="image_url" value="<%= @user.image_url%>">
  <button>submit</button>
</form>