<div class="profile-edit-container">
  <h2>Edit Your Profile</h2>
  <form class="profile-edit-form" action="/profile/update?id=<%=@user.id%>" method="post">
    <input type="hidden" value="put" name="_method">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <div class="col-md-6 col-md-offset-3">
      <div class="form-group">
        <label for="usr">Name</label>
        <input type="text" class="form-control" id="usr" placeholder="Name" name="name" value="<%=@user.name%>">
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="text" class="form-control" id="email" placeholder="email" name="email" value="<%= @user.email%>">
      </div>
      <div class="form-group">
        <label for="country">which country do you live</label>
        <input class="form-control country-selector" id="country" placeholder="Country" name="country" value="<%= @user.country%>"></input>
      </div>
      <div class="form-group">
        <label for="img">Image</label>
        <input type="text" class="form-control" id="img" placeholder="Image URL" name="image_url" value="<%= @user.image_url%>">
      </div>
      <div class="form-group">
        <input type="submit" class="form-control" id="submit">
      </div>
    </div> 
    
  </form>
</div>




<script type="text/javascript">
  $('input').on('change keyup paste', function(){
     var $this=$(this);
     if($this.val()){
       if(!$this.hasClass('inputed')){
         $this.addClass('inputed').animate({'padding-top': '40px',"padding-bottom":'10px'}).parent().find('label').slideToggle();
       }
     } else $this.removeClass('inputed').animate({'padding-top': '15px',"padding-bottom":'10px'}).parent().find('label').hide();
  });
</script>

<style>
  .profile-edit-container {
    
  }
  h2 {
    text-align: center;
    padding:25px 0px 0px 0px;
    font-size: 2.5em;
  }

  input.form-control { 
    height: 40px;
    background-color: linen; 
  }
  input#submit {
    background-color: cornflowerblue;
    color:white;
  }
  label{
    position: absolute;
    margin-left: 12px; 
    margin-top: 2px; 
    font-size: 9pt; 
    opacity: .7; 
    display: none
  }
  .profile-edit-form {
    margin-top: 0px;
    padding: 30px;
    border-radius: 10px;
    height: 350px;
  }

</style>