<!-- <top wrapper> -->
  <div class="wrapper">
        <div class="profile-background">
            <div class="filter-black"></div>
        </div>
        <div class="profile-content section-nude">
            <div class="container">
                <div class="row owner">
                    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                        <div class="avatar">
                          <a href="/profile/edit?id=<%= @user.id%>">
                            <div class="profile_image img-circle img-no-padding img-responsive">
                              <img src="<%= @user.image_url%>" alt="">
                            </div>
                          </a>
                        </div>
                        <div class="name">
                            <h4><%= @country.name %></h4>
                            <div class="currency" data-base-name="<%= @base%>" data-dest-name="<%= @dest %>"
                              <p>Currenct Conversion: </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                      <div class="emergency">
                        <% if @numbers.size == 1 %>
                          <p>Emergency number: <%=@numbers.first %></p>
                        <% elsif @numbers.size == 3 %>
                          <p>Ambulance:<%=@numbers[0]%></p>
                          <p>Fire:<%=@numbers[1]%></p>
                          <p>Police:<%=@numbers[2]%></p>
                        <% else %>
                          <p>No emergency numbers find</p>
                        <% end %>
                      </div>
                        <br />
                        <a class="btn add_card" href="/new"><i class="fa fa-pencil"></i>ADD NEW CARD</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </top wrapper> -->

<!-- <div class="banner">
  <a class="add_card" href="/new">ADD CARD</a>
  add_card or add_card_btn
</div> -->
<!--
<div class="country_info">
  <div class="country">
    <h2 class="country-name"><%= @country.name %></h2>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/05/77/c8/0577c800b879b8b5affdbb2df364e24c.jpg">
  </div>
  <div class="emergency">
    <h3><font color="red"> emergency contact </font></h3>
    <% if @numbers.size == 1 %>
      <p>Emergency number: <%=@numbers.first %></p>
    <% elsif @numbers.size == 3 %>
      <p>Ambulance:<%=@numbers[0]%></p>
      <p>Fire:<%=@numbers[1]%></p>
      <p>Police:<%=@numbers[2]%></p>
    <% else %>
      <p>No emergency numbers find</p>
    <% end %>
  </div>
  <div class="currency_weather">
    <div class="currencyApi" data-base-name="<%= @base%>" data-dest-name="<%= @dest %>"
      <h3>Currency Api</h3>
    </div>
      <img src="https://s-media-cache-ak0.pinimg.com/236x/05/77/c8/0577c800b879b8b5affdbb2df364e24c.jpg">
  </div>
</div> -->

<div class="new_card">
  <h1>New Card</h1>

  <form action="/cards" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <!-- <label for="">Country</label>
    <input class="country_selector" type="text" name="country" id="country"> -->

    <label for="">Title</label>
    <input type="text" name="title" id="name" >

    <label for="">Image Url</label>
    <input type="text" name="image" id="image">

    <label for="">Source Url</label>
    <input type="text" name="source" id="source">

    <label for="">Tags</label>



      <input type="checkbox" class="checkbox-tags" name="food" id="food">Food
      <input type="checkbox" class="checkbox-tags" name="accommodation" id="accommodation">Accommodation
      <input type="checkbox" class="checkbox-tags" name="transport" id="transport">Transport
      <input type="checkbox" class="checkbox-tags" name="culture" id="culture">Culture
      <input type="checkbox" class="checkbox-tags" name="entertainment" id="entertainment">Entertainment
      <input type="checkbox" class="checkbox-tags" name="shopping" id="shopping">Shopping
      <input type="checkbox" class="checkbox-tags" name="nature" id="nature">Nature
      <input type="checkbox" class="checkbox-tags" name="free" id="free">Free

    <p><input type="submit" value="Submit" id="multiple" class="new_card_submit"></p>
  </form>

</div>

<div class="board">
  <h1> Board </h1>
    Sort by:
    <span class="tags" data-tag-name="all"><a href="">All</a></span>
    <% @tags.each do |tag| %>
      <span class="tags" data-tag-name="<%= tag.name%>"><a href=""><%= tag.name%></a></span>
    <% end %>

  <br>
  <br>
  <div class="content">
    <% @cards.each do |card| %>
      <% tags = []%>
      <% card.tags.each do |tag| %>
        <% tags.push(tag.name) %>
      <%end%>
      <% classnames = tags.join(" ") %>
        <div class="card <%= classnames%>">
          <h2><%= card.title %></h2>
          <!-- remember to fix card size and image size -->
          <span><img src="<%= card.image %>" height="150" width="150"></span>
          <!-- <span id="img"><img src="/images/default.jpg" height="42" width="42"></span> -->
          <p><a href="<%= card.source %>">Link</a></p>
          <% card.tags.each do |cardtag| %>
            <span class="tag"><%= cardtag.name %></span>
          <% end %>
        </div>
    <%  end %>
  </div>
</div>

<!-- temporary, will be moved into jS file -->
<script id="card-template" type="text/x-handlebars-template">
  <div class="card {{tag_name}}">
    <h2>{{card_title}}</h2>
    <!-- remember to fix card size and image size -->
    <span><img src="{{card_image}}" height="150" width="150"></span>
    <!-- <span id="img"><img src="/images/default.jpg" height="42" width="42"></span> -->
    <p><a href="{{card_source}}">Link</a></p>
    <!-- // add file -->
  </div>

  <!-- <a href="/board?country_id={{country_id}}>">
    <div class="card">
      <div class="country-name">{{country_name}}</div>
      <img src="" alt="">
      <div>
        <p>cards <span>{{card_number}}</span></p>
      </div>
    </div>
  </a> -->
</script>

<script>
$( document ).ready(function() {

  // $(".new_card").hide();
  $(".add_card").on('click',function(event){
    event.preventDefault();
    $(".new_card").show();
  });

  $(".new_card_submit").on('click',function(event){

      event.preventDefault();
      var country = $('.country-name').text();
      debugger
      var name = $("#name").val();
      var image = $("#image").val();
      var source = $("#source").val();

      var tags = $('.checkbox-tags:checked');
      var tagsArr = [];
      for(var i=0; i<tags.length; i++) {
        tagsArr.push(tags[i].id);
      }
      // console.log(tagsArr);
      //
      // console.log(country);
      // console.log(name);
      // console.log(image);
      // console.log(source);
      // var foodanddrink = $('#foodanddrink').val();
      // var accommodation = $('#accommodation').val();
      // var multiple = $('multiple').val();
      // console.log(foodanddrink);
      // console.log(accommodation);
      // console.log(multiple);
      $.ajax({
        url:"/api/card/create",
        method: 'post',
        data: {
          country: country,
          title: name,
          image: image,
          source: source,
          tags: tagsArr.join(',')
      }}).done(function( response ) {
        $(".new_card").hide();
        console.log( "yay" );
        console.log(response);
        debugger
        var templateString = $("#card-template").html();
        var templateFunction = Handlebars.compile(templateString);

        //for loop for tag_name to be displayed in string on browser
        var responseArr = response[2];
        var tagsArr = [];
        for (var i=0; i<responseArr.length ; i++ ){
          tagsArr.push(responseArr[i].name);
        }
        var tagsString = tagsArr.join(" ");
        // find the country id in country table
        var html = templateFunction({
          tag_name: tagsString,
          card_title: response[0].title,
          card_source: response[0].source,
          card_image: response[0].image
        });
        $newCard = $(html);
        $(".content").append($newCard);
        // what do we do with the response
        // hide the add new card form

        // update the cards list without refresh the page
      });
  });

    // $(".new_card_submit").on('click',function(event){
    //     event.preventDefault();


    $('.tags').on('click',function(event){
    event.preventDefault();
    var tagName = $(this).data('tag-name');
    // var tagName = $(this).context.id;
    console.log(tagName);
    if (tagName == 'all') {
      $('.card').show();
    } else {
       $('.card').hide();
      $("."+tagName).show();
    }
  });

  // currency exchange API
  var base = $('.currency').data("base-name");
  var dest = $('.currency').data("dest-name");
  if(base === dest) {
    var $newElem = $('<div>').html("1.00");
    $('.currency').append($newElem);
  } else {
    $.ajax({
      url: 'http://api.fixer.io/latest',
      data: {base: base, symbols: dest }
    }).done(function(response){
      console.log(response);
      var currency = response.rates[dest];
      var $newElem = $('<div>').html(currency);
      $('.currency').append($newElem);
    });
  }

  $("#card-board").on('click',function(event){
    var that = this;
    console.log(this);
  });


});
</script>

<style>
.currency_weather{
    padding-left: 40px;
    display:inline-block;
    width: 30%;
}

.country_info{
  padding: 0;
  margin: 0;
  border-bottom: solid 3px;
}
.emergency{
  margin: 0;
  width: 30%;
  display: inline-block;
  margin: 0px;
}
.country{
  width: 30%;
  display: inline-block;
}

.content {
  margin: 0;
  padding: 5px 5px;
}
.card {
  float: left;
  margin: 0 0 10px 10px;
  border: 2px solid red;
  padding: 40px 80px;
}
.card #img {
  text-align: center;
}

</style>
