<div class="banner">
  <span id="user">user profile</span>
  <span id="add_card"><button>add card</button></span>
</div>
<div class="country_info">
  <div class="country">
    <h2><%= @country.name %></h2>
    <img src="https://s-media-cache-ak0.pinimg.com/236x/05/77/c8/0577c800b879b8b5affdbb2df364e24c.jpg">
  </div>
  <div class="emergency">
    <h3><font color="red"> emergency contact </font></h3>
    <% if @numbers.size == 1 %>
      <p>Emergency number: <%=@numbers.first %></p>
    <% elsif @numbers.size == 3 %>
      <p>Ambulance:<%=@numbers[0]%></p>
      <p>Fire:<%=@numbers[1]%></p>
      <p>Police:<%=@numbers[2]%></p>
    <% else %>
      <p>No emergency numbers find</p>
    <% end %>
  </div>
  <div class="currency_weather">
    <div class="currency">
      <h3>Currency Api</h3>
      <div id="default_currency"><%= @base%></div> ==> 
      <div id="dest_currency"><%= @dest %></div>
    </div>
      <img src="https://s-media-cache-ak0.pinimg.com/236x/05/77/c8/0577c800b879b8b5affdbb2df364e24c.jpg">
    <h3>Weather Api</h3>
  </div>
</div>

<h1> Board </h1>
  Sort by:
  <span class="tags" data-tag-name="all"><a href="">All</a></span>
  <% @tags.each do |tag| %>
    <span class="tags" data-tag-name="<%= tag.name%>"><a href=""><%= tag.name%></a></span>
  <% end %>

<br>
<br>
<div class="body">
  <% @cards.each do |card| %>
    <% tags = []%>
    <% card.tags.each do |tag| %>
      <% tags.push(tag.name) %>
    <%end%>
    <% classnames = tags.join(" ") %>
      <div class="card <%= classnames%>">
        <h2><%= card.title %></h2>
        <!-- remember to fix card size and image size -->
        <span><img src="<%= card.image %>" height="150" width="150"></span>
        <!-- <span id="img"><img src="/images/default.jpg" height="42" width="42"></span> -->
        <p><a href="<%= card.source %>">Link</a></p>
        <% card.tags.each do |cardtag| %>
          <span class="tag"><%= cardtag.name %></span>
        <% end %>
      </div>

  <%  end %>
</div>

<!-- temporary, will be moved into jS file -->
<script>

  $('.tags').on('click',function(event){
    event.preventDefault();
    var tagName = $(this).data('tag-name');
    console.log(tagName);
    if (tagName == 'all') {
      $('.card').show();
    } else {
       $('.card').hide();
      $("."+tagName).show();
    }
  });

  // currency exchange API
  var base = $('#default_currency').html();
  var dest = $('#dest_currency').html();
  if(base === dest) {
    var $newElem = $('<div>').html("1.00");
    $('.currency').append($newElem);
  } else {
    $.ajax({
      url: 'http://api.fixer.io/latest',
      data: {base: base, symbols: dest }
    }).done(function(response){
      console.log(response);
      var currency = response.rates[dest];
      var $newElem = $('<div>').html(currency);
      $('.currency').append($newElem);
    });
  }

  //emergency api

</script>
<!-- temporary, will be moved into css file -->
<style>
.currency_weather{
    padding-left: 40px;
    display:inline-block;
    width: 30%;
}

.country_info{
  padding: 0;
  margin: 0;
  border-bottom: solid 3px;
}
.emergency{
  margin: 0;
  width: 30%;
  display: inline-block;
  margin: 0px;
}
.country{
  width: 30%;
  display: inline-block;
}
.banner{
  background-color: grey;
  width: 100%;
  height: 40px;
}

.body {
  margin: 0;
  padding: 5px 5px;
}
.card {
  float: left;
  margin: 0 0 10px 10px;
  border: 2px solid red;
  padding: 40px 80px;
}
.card #img {
  text-align: center;
}
#user {
  float: left;
}

#add_card {
  float: right;
}
</style>
