<!-- <top wrapper> -->
  <div class="wrapper">
        <div class="profile-background">
            <div class="filter-black"></div>
        </div>
        <div class="profile-content section-nude">
            <div class="container">
                <div class="row owner">
                    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                        <div class="avatar">
                          <a href="/profile/edit?id=<%= @user.id%>">
                            <div class="profile_image img-circle img-no-padding img-responsive">
                              <img src="<%= @user.image_url%>" alt="">
                            </div>
                          </a>
                        </div>
                        <div class="name">
                            <h4 id="country-name-id"><%= @country.name %></h4>
                            <div class="currency" data-base-name="<%= @base%>" data-dest-name="<%= @dest %>"
                              <p>Currency Conversion: </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                      <div class="emergency">
                        <% if @numbers.error? == false  %>
                          <% if @numbers.dispatch != ""%>
                              <p>Emergency number: <%=@numbers.dispatch %></p>
                          <% else %>
                            <%if @numbers.ambulance != "" %>
                              <p>Ambulance:<%=@numbers.ambulance%></p>
                            <% end %>
                            <%if @numbers.fire != ""%>
                              <p>Fire:<%=@numbers.fire%></p>
                            <% end %>
                            <%if @numbers.police != ""%>
                              <p>Police:<%=@numbers.police%></p>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                        <br />
                        <a class="btn add_card" href="/new"><i class="fa fa-pencil"></i>ADD NEW CARD</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
<!-- </top wrapper> -->

<!-- <New Card Form (Hidden Until Click)> -->
<div class="new_card">
  <div class="register-card">
  <h3 class="title">Add Your Travel Note to <%= @country.name %></h3>

  <form class="register-form" action="/cards" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <!-- <label for="">Country</label>
    <input class="country_selector form-control" placeholder="Country" type="text" name="country" id="country"> -->
    <label for="">Title</label>
    <input type="text" name="title" id="name" class="form-control" placeholder="Heading for Card">
    <label for="">Image Url</label>
    <input type="text" name="image" id="image" class="form-control" placeholder="Url to Image">
    <label for="">Source Url</label>
    <input type="text" name="source" id="source" class="form-control" placeholder="Url to Travel Tip">

    <label>Tags</label></br>

      <div class="checkbox-inline"><label><input type="checkbox" class="checkbox-tags" name="food" id="food">Food</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="checkbox-tags" name="accommodation" id="accommodation">Accommodation</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="checkbox-tags" name="transport" id="transport">Transport</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="checkbox-tags" name="culture" id="culture">Culture</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="checkbox-tags" name="entertainment" id="entertainment">Entertainment</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="checkbox-tags" name="shopping" id="shopping">Shopping</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="checkbox-tags" name="nature" id="nature">Nature</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="checkbox-tags" name="free" id="free">Free</label></div>

    <p><input type="submit" value="Submit" class="btn new_card_submit btn-danger btn-block"></p>
    </div>

  </form>

</div>
     </div>


<!-- Tag Sorting -->
<div class="board">
  <h1><%= @country.name %></h1>
    <div class="board-content">
      Sort by: <br><br>
      <button class="tags btn btn-secondary" data-tag-name="all"><a href="">All</a></button>
      <% @tags.each do |tag| %>
        <button class="tags btn btn-secondary" data-tag-name="<%= tag.name%>"><a href=""><%= tag.name%></a></button>
      <% end %>

    <br>
    <br>
    <div class="content">
      
      <% @cards.each do |card| %>
        <% tags = []%>
        <% card.tags.each do |tag| %>
          <% tags.push(tag.name) %>
        <%end%>
        <% classnames = tags.join(" ") %>

          <div class="card <%= classnames%>">
            <h2><%= card.title %></h2>
            <!-- remember to fix card size and image size -->
            <span><img src="<%= card.image %>" height="150" width="150"></span>
            <!-- <span id="img"><img src="/images/default.jpg" height="42" width="42"></span> -->
            <input type="checkbox" class="card-tick" id="<%=card.id%>"></input>
            <p><a href="<%= card.source %>">Link</a></p>
            <% card.tags.each do |cardtag| %>
              <span class="tag"><%= cardtag.name %></span>
            <% end %>
          </div>
      <%  end %>
    </div>
  </div>
</div>

<!-- 

<div class="container">
  <div class="card-container">
  
  <% @countries.each_slice(3) do |countries| %>
    
    <div class="row">

      <% countries.each do |country| %>

        <div class="col-md-3">
          
          <a href="/board?country_id=<%= country.id%>">
          <div class="card">
           <div class="country-name"><%= country.name%>
           </div>
          </a>
         <div>
           <p>cards <span class="cards-number"><%= (country.cards & @cards).size%></span></p>
         </div>
        </div>
      </div>
      <% end %>
    </div>
  
  <% end %>
</div>
</div> -->








<!-- temporary, will be moved into jS file -->
<script id="card-template" type="text/x-handlebars-template">
  <div class="card {{tag_name}}">
    <h2>{{card_title}}</h2>
    <!-- remember to fix card size and image size -->
    <span><img src="{{card_image}}" height="150" width="150"></span>
    <!-- <span id="img"><img src="/images/default.jpg" height="42" width="42"></span> -->
    <input type="checkbox" class="card-tick" id="{{card_id}}"></input>
    <p><a href="{{card_source}}">Link</a></p>
    <!-- // add file -->
  </div>

  <!-- <a href="/board?country_id={{country_id}}>">
    <div class="card">
      <div class="country-name">{{country_name}}</div>
      <img src="" alt="">
      <div>
        <p>cards <span>{{card_number}}</span></p>
      </div>
    </div>
  </a> -->
</script>

<script>
$( document ).ready(function() {

  $(".new_card").hide();
  $(".add_card").on('click',function(event){
    event.preventDefault();
    $(".new_card").show();
  });

  $(".new_card_submit").on('click',function(event){

      event.preventDefault();
      var countryName = $('#country-name-id').text();
      debugger
      var name = $("#name").val();
      var image = $("#image").val();
      var source = $("#source").val();

      var tags = $('.checkbox-tags:checked');
      var tagsArr = [];
      for(var i=0; i<tags.length; i++) {
        tagsArr.push(tags[i].id);
      }
      // console.log(tagsArr);
      //
      // console.log(country);
      // console.log(name);
      // console.log(image);
      // console.log(source);
      // var foodanddrink = $('#foodanddrink').val();
      // var accommodation = $('#accommodation').val();
      // var multiple = $('multiple').val();
      // console.log(foodanddrink);
      // console.log(accommodation);
      // console.log(multiple);
      $.ajax({
        url:"/api/card/create",
        method: 'post',
        data: {
          country: countryName,
          title: name,
          image: image,
          source: source,
          tags: tagsArr.join(',')
      }}).done(function( response ) {
        $(".new_card").hide();
        console.log( "yay" );
        console.log(response);
        debugger
        var templateString = $("#card-template").html();
        var templateFunction = Handlebars.compile(templateString);

        //for loop for tag_name to be displayed in string on browser
        var responseArr = response[2];
        var tagsArr = [];
        for (var i=0; i<responseArr.length ; i++ ){
          tagsArr.push(responseArr[i].name);
        }
        var tagsString = tagsArr.join(" ");
        // find the country id in country table
        var html = templateFunction({
          tag_name: tagsString,
          card_title: response[0].title,
          card_source: response[0].source,
          card_image: response[0].image,
          card_id: response[0].id
        });
        $newCard = $(html);
        $(".content").append($newCard);
        // what do we do with the response
        // hide the add new card form

        // update the cards list without refresh the page
      });
  });

    // $(".new_card_submit").on('click',function(event){
    //     event.preventDefault();


    $('.tags').on('click',function(event){
    event.preventDefault();
    var tagName = $(this).data('tag-name');
    // var tagName = $(this).context.id;
    console.log(tagName);
    if (tagName == 'all') {
      $('.card').show();
    } else {
       $('.card').hide();
      $("."+tagName).show();
    }
  });

  // currency exchange API
  var base = $('.currency').data("base-name");
  var dest = $('.currency').data("dest-name");
  if(base === dest) {
    var $newElem = $('<div>').html("1.00");
    $('.currency').append($newElem);
  } else {
    $.ajax({
      url: 'http://api.fixer.io/latest',
      data: {base: base, symbols: dest }
    }).done(function(response){
      console.log(response);
      var currency = response.rates[dest];
      var $newElem = $('<div>').html(currency);
      $('.currency').append($newElem);
    });
  }

  $('.content').on('click','.card-tick',function(event){
  status = $(this).is(':checked');
  id = event.toElement.id;
  $.ajax({
    url: "/api/card/complete",
    method: 'post',
    data: {
      card: id,
      status: status
    }}).done(function(event){
    });
  });
});

</script>

<style>

.card {
  float: left;
  max-width: 31%;
  margin: 0 0 10px 10px;
  border: 2px solid red;
  padding: 40px 80px;
}
.card #img {
  text-align: center;

.card-tick {
  display: block;
  vertical-align: top;
}
}

</style>
