<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">

<header class="profile_header">

  <a href="/profile/edit?id=<%= @user.id%>">
    <div class="profile_image">
      <img src="<%= @user.image_url%>" alt="">
    </div>
  </a>

  <div class="username"><%= @user.name%></div>
  <a class="add_card_btn" href="/new">ADD CARD</a>
</header>

<div class="new_card">
  <h1>New Card</h1>

  <form action="/cards" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>

    <label for="">Country</label>
    <input class="country_selector" type="text" name="country" id="country">

    <label for="">Title</label>
    <input type="text" name="title" id="name" >

    <label for="">Image Url</label>
    <input type="text" name="image" id="image">

    <label for="">Source Url</label>
    <input type="text" name="source" id="source">

    <label for="">Tags</label>



      <input type="checkbox" class="tags" name="foodanddrink" id="foodanddrink">Food
      <input type="checkbox" class="tags" name="accommodation" id="accommodation">Accommodation
      <input type="checkbox" class="tags" name="transport" id="transport">Transport
      <input type="checkbox" class="tags" name="culture" id="culture">Culture
      <input type="checkbox" class="tags" name="entertainment" id="entertainment">Entertainment
      <input type="checkbox" class="tags" name="shopping" id="shopping">Shopping
      <input type="checkbox" class="tags" name="nature" id="nature">Nature
      <input type="checkbox" class="tags" name="free" id="free">Free

    <p><input type="submit" value="Submit" id="multiple" class="new_card_submit"></p>
  </form>

</div>

<div class="container">
  <% @countries.each do |country| %>
    <a href="/board?country_id=<%= country.id%>">
      <div class="card">
        <div class="country-name"><%= country.name%></div>
        <img src="" alt="">
        <div>
          <p>cards <span class="cards-number"><%= (country.cards & @cards).size%></span></p>
        </div>
      </div>
    </a>
  <% end %>

</div>

<script id="card-template" type="text/x-handlebars-template">
  <a href="/board?country_id={{country_id}}>">
    <div class="card">
      <div class="country-name">{{country_name}}</div>
      <img src="" alt="">
      <div>
        <p>cards <span>{{card_number}}</span></p>
      </div>
    </div>
  </a>
</script>

<script>
$( document ).ready(function() {
  $(".new_card").hide();
  $(".add_card_btn").on('click',function(event){

    event.preventDefault();
    $(".new_card").show();
  });

  var update_card_list = function(country) {
    var countryNames = [];
    for(var i=0; i< $(".country-name").length; i++) {
      countryNames.push($(".country-name").eq(i).text());
    }
    if (countryNames.indexOf(country.name) != -1) {
      // if country card is displayed increase card number
      var index = countryNames.indexOf(country.name);
      var cardNumber = Number($(".country-name").eq(index).closest(".card").find(".cards-number").text());
      cardNumber++;
      $(".country-name").eq(index).closest(".card").find(".cards-number").text(cardNumber);
    } else {
      // country card does not exist, create a new one
      var templateString = $("#card-template").html();
      var templateFunction = Handlebars.compile(templateString);
      // find the country id in country table
      var html = templateFunction({
        country_id: country.id,
        country_name: country.name,
        card_number: 1 
      });
      var $newElem = $(html);
      $('.container').append($newElem);
    }
  }

  $(".new_card_submit").on('click',function(event){
      event.preventDefault();
      var country = $("#country").val();
      var name = $("#name").val();
      var image = $("#image").val();
      var source = $("#source").val();

      var tags = $('.tags:checked');
      var tagsArr = [];
      for(var i=0; i<tags.length; i++) {
        tagsArr.push(tags[i].id);
      }
      console.log(tagsArr);

      console.log(country);
      console.log(name);
      console.log(image);
      console.log(source);
      // var foodanddrink = $('#foodanddrink').val();
      // var accommodation = $('#accommodation').val();
      // var multiple = $('multiple').val();
      // console.log(foodanddrink);
      // console.log(accommodation);
      // console.log(multiple);
      $.ajax({
        url:"/api/card/create",
        method: 'post',
        data: {
          country: country,
          title: name,
          image: image,
          source: source,
          tags: tagsArr.join(',')
      }}).done(function( response ) {
        console.log( "yay" );
        console.log(response);
        // hide the add new card form
        $(".new_card").hide();
        // update the cards list without refresh the page
        update_card_list(response[0]);

      });
  });
});

</script>
