<!-- <top wrapper> -->
  <div class="wrapper">
        <div class="profile-background"> 
            <div class="filter-black"></div>  
        </div>
        <div class="profile-content section-nude">
            <div class="container">
                <div class="row owner">
                    <div class="col-md-2 col-md-offset-5 col-sm-4 col-sm-offset-4 col-xs-6 col-xs-offset-3 text-center">
                        <div class="avatar">
                          <a href="/profile/edit?id=<%= @user.id%>">
                            <div class="profile_image img-circle img-no-padding img-responsive">
                              <img src="<%= @user.image_url%>" alt="">
                            </div>
                          </a>
                        </div>
                        <div class="name">
                            <h4><%= @user.name%><br /><small>World Explorer</small></h4>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-md-offset-3 text-center">
                        <p>A passion for travel is a passion for life</p>
                        <br />
                        <a class="btn add_card_btn" href="/new"><i class="fa fa-pencil"></i>ADD NEW CARD</a>
                    </div>
                </div>       
            </div>
        </div>
    </div> 
<!-- </top wrapper> -->


<!-- <New Card Form (Hidden Until Click)> -->
<div class="new_card">
  <div class="register-card">
  <h3 class="title">Add Your Travel Note</h3>

  <form class="register-form" action="/cards" method="post">
    <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
    <label for="">Country</label>
    <input class="country_selector form-control" placeholder="Country" type="text" name="country" id="country">
    <label for="">Title</label>
    <input type="text" name="title" id="name" class="form-control" placeholder="Heading for Card">
    <label for="">Image Url</label>
    <input type="text" name="image" id="image" class="form-control" placeholder="Url to Image">
    <label for="">Source Url</label>
    <input type="text" name="source" id="source" class="form-control" placeholder="Url to Travel Tip">
    
    <label>Tags</label></br>

      <div class="checkbox-inline"><label><input type="checkbox" class="tags" name="food" id="food">Food</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="tags" name="accommodation" id="accommodation">Accommodation</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="tags" name="transport" id="transport">Transport</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="tags" name="culture" id="culture">Culture</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="tags" name="entertainment" id="entertainment">Entertainment</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="tags" name="shopping" id="shopping">Shopping</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="tags" name="nature" id="nature">Nature</label></div>
      <div class="checkbox-inline"><label><input type="checkbox" class="tags" name="free" id="free">Free</label></div>

    <p><input type="submit" value="Submit" id="multiple" class="btn new_card_submit btn-danger btn-block"></p>
    </div>

  </form>

</div>                        
     </div>


<!-- List Country Boards on User Profile -->
<div class="container">
  <% @countries.each do |country| %>
    <a href="/board?country_id=<%= country.id%>">
      <div class="card">
        <div class="country-name"><%= country.name%></div>
        <img src="" alt="">
        <div>
          <p>cards <span class="cards-number"><%= (country.cards & @cards).size%></span></p>
        </div>
      </div>
    </a>
  <% end %>

</div>

<script id="card-template" type="text/x-handlebars-template">
  <a href="/board?country_id={{country_id}}>">
    <div class="card">
      <div class="country-name">{{country_name}}</div>
      <img src="" alt="">
      <div>
        <p>cards <span class="cards-number">{{card_number}}</span></p>
      </div>
    </div>
  </a>
</script>

<script>
$( document ).ready(function() {
  $(".new_card").hide();
  $(".add_card_btn").on('click',function(event){

    event.preventDefault();
    $(".new_card").show();
  });

  var update_card_list = function(country) {
    var countryNames = [];
    for(var i=0; i< $(".country-name").length; i++) {
      countryNames.push($(".country-name").eq(i).text());
    }
    if (countryNames.indexOf(country.name) != -1) {
      // if country card is displayed increase card number
      var index = countryNames.indexOf(country.name);
      var cardNumber = Number($(".country-name").eq(index).closest(".card").find(".cards-number").text());
      cardNumber++;
      $(".country-name").eq(index).closest(".card").find(".cards-number").text(cardNumber);
    } else {
      // country card does not exist, create a new one
      var templateString = $("#card-template").html();
      var templateFunction = Handlebars.compile(templateString);
      // find the country id in country table
      var html = templateFunction({
        country_id: country.id,
        country_name: country.name,
        card_number: 1 
      });
      var $newElem = $(html);
      $('.container').append($newElem);
    }
  }

  $(".new_card_submit").on('click',function(event){
      event.preventDefault();
      var country = $("#country").val();
      var name = $("#name").val();
      var image = $("#image").val();
      var source = $("#source").val();

      var tags = $('.tags:checked');
      var tagsArr = [];
      for(var i=0; i<tags.length; i++) {
        tagsArr.push(tags[i].id);
      }
      console.log(tagsArr);

      console.log(country);
      console.log(name);
      console.log(image);
      console.log(source);
      // var foodanddrink = $('#foodanddrink').val();
      // var accommodation = $('#accommodation').val();
      // var multiple = $('multiple').val();
      // console.log(foodanddrink);
      // console.log(accommodation);
      // console.log(multiple);
      $.ajax({
        url:"/api/card/create",
        method: 'post',
        data: {
          country: country,
          title: name,
          image: image,
          source: source,
          tags: tagsArr.join(',')
      }}).done(function( response ) {
        console.log( "yay" );
        console.log(response);
        // hide the add new card form
        $(".new_card").hide();
        // update the cards list without refresh the page
        update_card_list(response[1][0]);

      });
  });
});

</script>
