<!DOCTYPE html>
<html>
<head>
  <title>TravelExpedition</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>








<% if session[:id] %>

<form action="/logout" method="post">
  <%= hidden_field_tag :authenticity_token, form_authenticity_token %>  
  
<button  >logout</button>
  
</form>

<% end %>

<%= yield %>

</body>
</html>
